# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
*.venv

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
/db.sqlite3
db.sqlite3/
/db.sqlite3
/media/
staticfiles/
.env

# IDE va OS fayllari
.vscode/
.idea/
.DS_Store
Thumbs.db
# Django migrations
*/migrations/
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py
